.userPhotoAndLoginBlock {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	align-items: center;
	margin-bottom: 20px;
}

.nameBlock h2 {
	margin: 0;
}

.copy {
	cursor: pointer;
}

@media (max-width: 480px) {
	.userPhotoAndLoginBlock {
		flex-direction: column;
		gap: 15px;
	}
}

/* games block */

.loader {
	width: 100%;
	max-width: 500px;
}

.gameCardBlock {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.gamesBlockHeader {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 5px;
	margin: 15px 0 15px;
}

.gamesBlockHeader h2 {
	margin: 0 10px 5px 0;
}

.gameCard {
	cursor: pointer;
	max-width: 500px;
}

.gameCard.win {
	background-color: var(--game-card-win);
}

.gameCard.lose {
	background-color: var(--game-card-lose);
}

.gameCard.waiting {
	background-color: var(--game-card-waiting);
}

.gameCard.ready {
	background-color: var(--game-card-ready);
}

.gameCard:hover {
	background-color: var(--game-card-hover);
}

.user {
	color: var(--user-accent-color);
}

.gameId {
	color: var(--text-unaccented);
}