.wrapper {
	display: flex;
	margin: 15px;
	gap: 15px;
	flex-grow: 1;
}

.sidebar {
	flex-grow: 0;
}

.sidebar > ul {
	border-radius: 10px;
}

.content {
	flex-grow: 1;
	/*border: green solid 3px;*/
}

@media (max-width: 650px) {
	.wrapper {
		flex-direction: column;
	}
}